@{
    ViewData["Title"] = "Ice Hockey - Fletcher";
}

<div class="text-center">
    <h1 class="display-4">Ice Hockey</h1>
    <p>Learn about Ice Hockey!</p>
</div>

<div class="image-container">
    <img src="~/FWH1.jpg" alt="Image 1">
    <img src="~/FWTEAM.jpg" alt="Image 2">
    <img src="~/golie.jpg" alt="Image 3">
</div>
<br />
<br />


<div class="content-container">
    <p><strong>Origins of Ice Hockey:</strong> Ice hockey's origins can be traced back to the 19th century in Canada. The game evolved from various stick-and-ball games played on ice, particularly those popularized by early indigenous communities. The first organized indoor hockey game took place in Montreal in 1875, setting the stage for the development of modern ice hockey. Over time, the sport gained popularity, spreading to other parts of North America and eventually becoming an internationally recognized and beloved winter sport.</p>

    <p><strong>How to Play Ice Hockey:</strong> Ice hockey is played on a rectangular ice rink with two teams, each comprising six players, including a goaltender. The objective is to score goals by shooting a rubber puck into the opponent's net. Players use hockey sticks to handle the puck and can skate at high speeds across the ice. The game is fast-paced, involving strategic passing, skating, and shooting skills. Players work together to defend their own goal and attack the opponent's goal, with the goaltender acting as the last line of defense.</p>

    <p><strong>Common Rules of Ice Hockey:</strong> Ice hockey follows a set of rules that govern gameplay. Each game consists of three periods, and teams aim to accumulate goals by propelling the puck into the opposing team's net. Physical contact is a fundamental aspect of the game, but certain types of body checking are regulated to ensure fair play and player safety. Penalties are enforced for rule violations, resulting in temporary removal of players from the ice. Offsides, icing, and other rules define the flow of the game, contributing to the excitement and strategy that characterize ice hockey.</p>
</div>
