html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.image-container {
    display: flex;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.image-container img {
    width: 150px; /* Set the width of your images as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 5px; /* Adjust margin as needed */
}

.content-container {
    text-align: left;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
}

/* Style for form tags */
form {
    text-align: left;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 20px; /* Add margin at the bottom to separate from other elements */
}

/* Style for buttons inside the form */
form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover effect for buttons */
form button:hover {
    background-color: #45a049;
}

/* Style for input fields inside the form */
form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

/* Additional styling for labels inside the form */
form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


